<!DOCTYPE>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="vm">
            这是第一个打包测试！！！{{$t('permission.roles')}}
            <input type="text" v-model="name" value="" @blur="test" >
            <div class="div1" style="width: 100px;height: 20px"></div>
            <div class="div2"><span>123</span></div>
            <div class="div3"></div>
            <br>
            userInfo: {{ userInfo }}
            <br>
            token: {{ token }}
            <br>
            <router-link to="/index">Home</router-link>
            <router-link to="/test1">Test1</router-link>
            <router-view></router-view> 
        </div>
    </body>
</html>